<% if @result %>
  <h1>The result is <%= @result %></h1>
<% end %>

<form method="get" action="/power">
  <input type="number" name="first_number" placeholder="first number" value="<%= @first_number %>" step="0.01">
  **
  <input type="numer" name="second_number" placeholder="second number" value="<%= @second_number %>" step="0.01">
  <button>CALCULATE!!!</button>
</form>